
<nav class="navbar">
    <div class= "container-fluid">
    <a class="navbar-brand text-white font: Helvetica" href="https://rol4.fenixzone.com/foro/index.php">
       FZ Roleplay
    </a>
    </div>
  </nav>
    <div class="h1-bg">
        <img src="https://i.ibb.co/Df84YBp/portada.png" alt="imagen" width="100%">
    </div>
    <div class="div2 container-fluid">
      <div class="div1 container">
      <ul class="list-group list-group-horizontal">
        <li>
          <a href="https://rol4.fenixzone.com/foro/index.php" class="list-group-item ">Inicio</a>
        </li>
        <li>
          <a href="https://rol4.fenixzone.com/foro/index.php?action=help" class="list-group-item ">Ayuda</a>
        </li>
        <li>
          <a href="https://rol4.fenixzone.com/foro/index.php?action=login" class="list-group-item ">Ingresar</a>
        </li>
        <li>
          <a href="https://rol4.fenixzone.com/foro/index.php?action=register" class="list-group-item ">Registrarse</a>
        </li>
      </ul>
    </div>
    </div>


  